[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/ImPro2/glfw
[submodule "Dependencies/GLM"]
	path = Dependencies/GLM
	url = https://github.com/ImPro2/GLM
[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/ImPro2/ImGui
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/AminAliari/assimp/
